header {
    margin-top: 30px;
    color: #2e99a9;
}

hr {
    border-top: 3px solid #2e99a9;
    opacity: 1;
    margin: 30px 0;
}

h1 {
    font-size: 18px;
    font-weight: bold;
}

.form-group>label {
    font-weight: bold;
}